{% extends 'base.html' %}
{% block content %}
<div style="padding:10px;">
        <article>
                <h2>Post Archives for {{ month|date:"N, Y" }}</h2>

              <div>
                <ul>
                  {% for post in object_list %}
                  <li>{{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                    <a href="{{ post.get_absolute_url }}"><strong>{{post.title }}</strong></a></li>
           {% endfor %}
         </ul>
       </div>
        </article>
</div>
{% endblock %}
